@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

:root {
  --primary-color-1: #40ffdc;
  --secondary-color-1: #00a9d4;
  --primary-color-2: #1c3166;
  --secondary-color-2: #240047;
  --primary-color-3: #1c0021;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
